<div class="container mt-4">
    <div class="card">
        <p class="card-header">#1 Carta para minha princesa <span style="color: red;"><i class="fa-solid fa-heart"></i></span></p>
        <p class="card-body">Só queria que você soubesse o quanto eu te amo e que sempre estarei ao seu lado independente da situação. Fiz esse mini site na tentativa de ser romantico pq eu sei o quanto você se importar com essas pequenas atitudes. Feliz 2 anos e 11 meses ou 35 meses para a gente , iremos continuar firmes e fortes para construir o nosso futuro e ter nossa cria, TE AMO MUITOOOOOO MEU AMOR <3 <3 <3 </p>
    </div>
    <div class="card mt-4">
        <p class="card-header">#2 Carta para minha princesa <span style="color: red;"><i class="fa-solid fa-heart"></i></span></p>
        <p class="card-body">Essas serão pequenas cartinhas feitas do meu jeitinho, para que você sempre lembre o quanto eu te amo e sempre irei te amar.</p>
    </div>
    <div class="card mt-4">
        <p class="card-header">#3 Carta para minha princesa <span style="color: red;"><i class="fa-solid fa-heart"></i></span></p>
        <p class="card-body">Essa cartinha aqui vai como um elogio pela sua mudança e sua continua melhora em suas atitudes, isso só prova que você está disposta a manter o nosso amor.</p>
    </div>
    <div class="card mt-4">
        <p class="card-header">#4 Carta para minha princesa <span style="color: red;"><i class="fa-solid fa-heart"></i></span></p>
        <p class="card-body">IHUUUUUUUUUUU o nosso tão esperado 3 anos de relacionamento, muitos momentos inesquecíveis ao seu lado e sei que virão muitos e muitos ainda, tenho orgulho de mim mesmo por namorar uma pessoa tão incrivel, bonita, gostosa e muitooo cheirosa como você, é isso meu amor..<br> EU E VOCÊ ATÉ O FIM <br>Não mostre para ninguém, pelo amorr kkkk !!!</p>
    </div>
    <div class="card mt-4">
        <p class="card-header">#5 Carta para minha princesa <span style="color: red;"><i class="fa-solid fa-heart"></i></span></p>
        <p class="card-body">Sei lá, só sei que ainda vou escrever muito por aqui, não sei oq... mas eu vou kkk</p>
    </div>
</div>