@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section class="vh-100" style="">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem; box-shadow: 9px 4px 21px 9px #201919;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Login</h3>
                        <form method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="usuario">
                                <label>Usuário</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="senha">
                                <label>Senha</label>
                            </div>
                            <a asp-controller="Home" asp-action="Index"><button class="btn btn-info btn-lg btn-block" type="submit">Entrar</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .btn:hover {
        transform: scale(1.2);
        transition: 0.7s all;
    }
</style>